/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  color: black;
  background: #fff;
  min-height: 15rem;
  font-family: "Rajdhani", sans-serif;
}

#connect {
  color: black;
}

#email {
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  max-width: 15rem;
  margin-right: 0.5rem;
  padding-left: 2em;
}
#first_name,
#last_name {
  color: black;
  font-family: "Rajdhani", sans-serif;
  padding-left: 1em;
}
#email-form {
  color: black;
  font-family: "Rajdhani", sans-serif;
  margin-right: 0.5rem;
  padding-left: 2em;
}

.entrepreneurs {
  display: flex;
  align-content: space-between;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  margin-top: 3rem;
}

.input-field .helper-text::after {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 12rem;
}

.underline {
  text-decoration: underline;
}

/* border around email input */
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: 1px solid #6195ff;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding-left: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
/* border around email input */
#form-landing > input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  margin: 0 0 8px 0;
  padding-left: 2em;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

#choice {
  font-family: "Rajdhani", sans-serif;
}
#subscribe {
  color: #fff;
  background: #6195ff;
}

#submit {
  color: #fff;
  background: #6195ff;
}
.alert {
  background: #79c879;
  margin-bottom: 10px;
  display: none;
}

#logo {
  max-height: 5rem;
  display: block;
  float: left;
  margin-left: 2rem;
  margin-top: 1rem;
}

.brand-logo {
  display: flex;
  align-content: flex-start;
  margin-left: 2rem;
}
.ish {
  display: flex;
  align-content: flex-start;
  margin-left: 2rem;
  max-height: 2rem;
}

#logo-container {
  float: left;
}

.icon-block {
  padding: 0 0 0 0;
}
.icon-block .material-icons {
  font-size: inherit;
}

#cta-image {
  max-width: 30vw;
  margin: auto;
  padding: 0.5rem;
}

#cta-button {
  max-width: 10vw;
  color: #fff;
  background: black;
}

#cta-font {
  color: black;
}

#cta-section {
  margin: 0 0 0 0;
  min-width: 100vw;
  font-family: "Rajdhani", sans-serif;
  background: rgb(80, 80, 80);
  background-color: rgb(80, 80, 80);
  color: #fff;
  /* margin-top: 5rem; */
}

#cta-landing {
  padding: 2rem;
}

#motto {
  margin: 9rem;
  color: black;
  background: white;
  background-color: white;
  font-family: "Rajdhani", sans-serif;
}

#getstarted {
  border: 1px;
  border-color: lightgrey;
}

#join {
  max-width: 50rem;
}

#joinbutton {
  max-width: 15rem;
}

#footer-section {
  padding-top: 0;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  background: rgb(80, 80, 80);
}

/* footer on entrepreneurs landing page */
#footer-landing {
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: #fff;
  background-color: #000000;
}

#social {
  margin-right: auto;
  padding-left: 5rem;
  color: #fff;
}
#social > a {
  color: #fff;
}
#social-landing {
  margin-right: auto;
  padding-left: 2rem;
  color: black;
}
#social-landing > a {
  color: black;
}

.footer-follow {
  text-align: center;
  margin-bottom: 20px;
}

.footer-follow li {
  /* display: inline-block; */
  margin-right: 10px;
  margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195ff;
  color: #fff;
}
/* Email submit */

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2570a1;
  -webkit-box-shadow: 0 1px 0 0 #2570a1;
  box-shadow: 0 1px 0 0 #2570a1;
}

/* Form on landing page */
#form-landing > input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2570a1;
  -webkit-box-shadow: 0 1px 0 0 #2570a1;
  box-shadow: 0 1px 0 0 #2570a1;
}

/*------------------------------------*\
	Call to Action - overlay
\*------------------------------------*/

.work {
  position: relative;
  padding: 20px;
}

.work > img {
  width: 100%;
}

.work .overlay {
  background: #1c1d21;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.work:hover .overlay {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0.8;
}

.work .work-content {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.work .work-content h5 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.work:hover .work-content h5 {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.work .work-content span {
  display: block;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  color: #6195ff;
  margin-bottom: 5px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.work:hover .work-content span {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.work .work-link {
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.work .work-link a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #6195ff;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.work:hover .work-link {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80vw; /* Could be more or less, depending on screen size */
  height: 30vh; /* Could be more or less, depending on screen size */
  opacity: 0.9;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Preload */

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 99999;
}

/* Mobile */

@media only screen and (max-width: 601px) {
  #cta-image {
    max-width: 80vw;
    margin: auto;
    padding: 0.5rem;
  }
  .ish {
    margin-top: 1rem;
  }
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader span {
  display: inline-block;
  background-color: black;
  width: 25px;
  height: 25px;
  -webkit-animation: 1s preload ease-in-out infinite;
  animation: preload 1s ease-in-out infinite;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius: 50%;
}

.preloader span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.preloader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes preload {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes preload {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

/* Style the Modal form */
#regForm {
  background-color: #888;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

/* modal form CSS */

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}
</style>
/* Mobile */

/* @media only screen and (min-width: 0) html {
  font-size: 14px;
}
#cta-image {
  max-width: 30vw;
  margin: auto;
  padding: 0.5rem;
} */
